<h1>Добавить comment</h1>

<%= form_for @comment , url: comment_path do |f| %>
  <p> name <%= f.text_field :name %><br /></p>
  <p> url <%= f.text_field :email %><br /></p>
  <p> url <%= f.text_field :text %><br /></p>







  <%= f.submit "save"%>
<% end %>