<ul>
  <li><%= link_to "pages", pages_path %></li>
  <li><%= link_to "news", news_path %></li>
  <li><%= link_to "categoryes", category_path %></li>
  <li><%= link_to "articles", articles_path %></li>
  <li><%= link_to "tags", tags_path %></li>
  <li><%= link_to "comments", comments_path %></li>
</ul>