<header class="header">
  <div class="header-content">
    <div class="header-menu">
      <ul class="header-col header-menu_list">
        <li><%= link_to "pages", pages_path %></li>
        <li><%= link_to "news", news_path %></li>
        <li><%= link_to "categoryes", category_path %></li>
        <li><%= link_to "articles", articles_path %></li>
        <li><%= link_to "tags", tags_path %></li>
        <li><%= link_to "comments", comments_path %></li>
      </ul>
    </div>
    <div class="social-links">
      <ul class="header-col social-links_list">
        <li><a href="#"><img src="images/Facebook.png" alt=""></a></li>
        <li><a href="#"><img src="images/Delicious.png" alt=""></a></li>
        <li><a href="#"><img src="images/Flickr.png" alt=""></a></li>
        <li><a href="#"><img src="images/Friendfeed.png" alt=""></a></li>
        <li><a href="#"><img src="images/Tumblr.png" alt=""></a></li>
        <li><a href="#"><img src="images/Twitter.png" alt=""></a></li>
      </ul>
    </div>
  </div>
</header>